html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* background-color: rgba(0, 0, 0, 0.452); */
  }
  .hero.is-info {
    background-color: rgba(0, 0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hero.is-we {
    background: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ), url('../assets/images/fondo-1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hero.is-contact {
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ), url('../assets/images/background-contact.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .is-portfolio{
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ), url('../assets/images/background-portfolio.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .is-media {
    background-color: #ffffff00;
    border-color: rgba(255, 255, 255, 0);
    color: #00BF8B;
    font-size: 38px !important;
    padding-left: 20px;
    padding-right: 20px;
    height: 0px;
  }

  .is-media:hover {
    background-color: #ffffff00;
    border-color: rgba(255, 255, 255, 0);
    color: black;
  }

  .subtitle {
    padding: .5rem 0;
    line-height: 1.5;
    color: black;
  }

  .status {
    color: rgb(250, 235, 28);
    text-align: center;
    margin-bottom: 10px;
  }

  .content {
    display: inline !important;
  }

  .title {
    color: black;
  }

.navbar-item {
  padding: 5px;
}

.navbar-item img {
  width: 120px;
  height: auto;
  max-height: none;
}

.has-text-imper {
  color: #00BF8B !important;
}

.button.is-imper {
  background-color: #00BF8B !important;
  border-color: #00BF8B !important;
  color: white !important;
}

.button.is-white.is-outlined {
  border-color: rgba(240, 248, 255, 0);
}

.footer {
  background-color: #004EAB !important;
  color: rgb(255, 255, 255);
  padding-top: .6rem;
  padding-bottom: .8rem;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter:opacity(40%);
  filter: brightness(75%);
}

.content {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-size-x{
  font-size: 4.5rem;
}

.card-content{
  font-size: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: #00000044;
  }
}